In [3]:
import awswrangler as wr

Descrption: This jupyter notebook is a link to the code I walked through in my video https://youtu.be/YpOJOVnXLW8. As mentioned in my video it is never a good idea to checkin your password in your code.

# Connect To Open Search Cluster

In [ ]:
host= ''
port=443 #change if port is not 443
username=''
password= ''

os_connection = wr.opensearch.connect(host=host, 
                     port=port, 
                     username=username, 
                     password= password)

# Read data from index

## read data with dsl query

In [5]:
df = wr.opensearch.search(
        client=os_connection,
        index='cars',
        search_body={
  "query": {
          "match": {
        "car_make": "Toyota"}
  }
  })

df.head()

  _id car_make car_model  car_model_year
0   4   Toyota   Corolla            2011
1   1   Toyota     Camry            2011

## filter records on multiple fields

In [6]:
df = wr.opensearch.search(
        client=os_connection,
        index='cars',
        search_body={
  "query": {
    "bool": {
      "must": [
          {
          "match": {
        "car_make": "Toyota"}
      }, {"match": {
        "car_model": "Corolla"}}]
  }
}
}
)
print (df)

  _id car_make car_model  car_model_year
0   4   Toyota   Corolla            2011

## read data from opensearch with sql query

In [8]:

df2 = wr.opensearch.search_by_sql(
        client=os_connection,
        sql_query='SELECT * FROM cars WHERE car_make = "Toyota" and car_model = "Corolla"'
     )
print (df2)

  _index _type _id  _score car_make car_model  car_model_year
0   cars  _doc   1     0.0   Toyota     Camry            2011